.container {
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid green;

    padding-left: 20px;
    padding-right: 20px;

    @include mq(mobile) {
    max-width: 480px;
    }

    @include mq(tablet) {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
    }

    @include mq(desktop) {
    max-width: 1280px;
    }
}
.list {
    padding: 0;
    margin: 0;
    @include mq(tablet) {
    display: flex;
    justify-content: start;  
    flex-wrap: wrap;
    }
}
.list__item {
    display: block;
    outline: 1px solid red;
    min-height: 440px;
    margin-bottom: 20px;
    width: 100%;
    @include mq(tablet) {
    min-height: 495px;
    flex-basis: calc((100% -  32px) / 2);
    margin-right: 16px;
    margin-bottom: 32px;
    &:nth-child(even) {
        margin-left: 16px;
        margin-right: 0;
   }
    }
    @include mq(desktop) {
    min-height: 634px;
    flex-basis: calc((100% - 2 * 16px) / 3);
    margin-right: 0;
    &:nth-child(even) {
    margin-left: 0;
   }
    &:nth-child(3n+2) {
    margin-left: 16px;
    margin-right: 16px;
   }
    }
}