html {
    scroll-behavior: smooth;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: var(--font-family-main);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.04em;

    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;

    color: var(--cl-txt-main);
    background-color: var(--bgc-main);

    position: relative;
}

main {
    position: relative;
    min-height: calc(100vh - 370px);

    @include mq(tablet) {
        min-height: calc(100vh - 340px);
    }
}