h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}