.pagination.list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    max-width: 374px;
    height: 40px;
    margin: 10px auto;
}



.pagination__elem {

    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 40px;

    &.pagination__currentPage {
            min-width: 40px;
            border-radius: 5px;
    
            background-color: var(--bgc-accent);
            color: var(--cl-txt-white);
        }

    &.pagination__arrow {
        min-width: 40px;
        border-radius: 5px;
    
        background-color: var(--bgc-second);
    }
}

