:root {
    // fonts
    --font-family-main: 'Roboto',
        sans-serif;

    // text
    --cl-txt-main: #000000;
    --cl-txt-second: #545454;
    --cl-txt-white: #ffffff;
    --cl-txt-red: #FF001B;
    --cl-txt-accent: #FF6B08;

    // background
    --bgc-main: #ffffff;
    --bgc-second: #F7F7F7;
    --bgc-accent: #FF6B01;

    // transition
    --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --fast-anim: 200ms ease;
    --slow-anim: 350ms ease-in-out;
}