<div class="container">
    <ul class="list">
   <li class="list__item"></li>
   <li class="list__item"></li>
   <li class="list__item"></li>
   <li class="list__item"></li>
   <li class="list__item"></li>
   <li class="list__item"></li>
   <li class="list__item"></li>
   <li class="list__item"></li>
   <li class="list__item"></li>
   <li class="list__item"></li>
   <li class="list__item"></li>
   <li class="list__item"></li>
   <li class="list__item"></li>
   <li class="list__item"></li>
   <li class="list__item"></li>
   <li class="list__item"></li>
   <li class="list__item"></li>
   <li class="list__item"></li>
   <li class="list__item"></li>
   <li class="list__item"></li>
    </ul>
</div>