<main>
<div class="container">
    <ul class="list">
   <li class="list__item">
    <a href="#">
        <img class="list__item-image" src="#" alt="" 
    </a>
    <div class="list__item-description">
        <p class="list__item-description-title">FILM NAME</p>
        <p class="list__item-description-genres">genres | years</p>
    </div>
   </li>
   <li class="list__item">
    <a href="#">
        <img class="list__item-image" src="#" alt="" 
    </a>
    <div class="list__item-description">
        <p class="list__item-description-title">FILM NAME</p>
        <p class="list__item-description-genres">genres | years</p>
    </div>
   </li>
   <li class="list__item">
    <a href="#">
        <img class="list__item-image" src="#" alt="">
    </a>
    <div class="list__item-description">
        <p class="list__item-description-title">FILM NAME</p>
        <p class="list__item-description-genres">genres | years</p>
    </div>
   </li>
   <li class="list__item">
    <a href="#">
        <img class="list__item-image" src="#" alt="">
    </a>
    <div class="list__item-description">
        <p class="list__item-description-title">FILM NAME</p>
        <p class="list__item-description-genres">genres | years</p>
    </div>
   </li>
   <li class="list__item">
    <a href="#">
        <img class="list__item-image" src="#" alt="">
    </a>
    <div class="list__item-description">
        <p class="list__item-description-title">FILM NAME</p>
        <p class="list__item-description-genres">genres | years</p>
    </div>
   </li>
   <li class="list__item">
    <a href="#">
        <img class="list__item-image" src="#" alt="">
    </a>
    <div class="list__item-description">
        <p class="list__item-description-title">FILM NAME</p>
        <p class="list__item-description-genres">genres | years</p>
    </div>
   </li>
   <li class="list__item">
    <a href="#">
        <img class="list__item-image" src="#" alt="">
    </a>
    <div class="list__item-description">
        <p class="list__item-description-title">FILM NAME</p>
        <p class="list__item-description-genres">genres | years</p>
    </div>
   </li>
   <li class="list__item">
    <a href="#">
        <img class="list__item-image" src="#" alt="">
    </a>
    <div class="list__item-description">
        <p class="list__item-description-title">FILM NAME</p>
        <p class="list__item-description-genres">genres | years</p>
    </div>
   </li>
   <li class="list__item">
    <a href="#">
        <img class="list__item-image" src="#" alt="">
    </a>
    <div class="list__item-description">
        <p class="list__item-description-title">FILM NAME</p>
        <p class="list__item-description-genres">genres | years</p>
    </div>
   </li>
   <li class="list__item">
    <a href="#">
        <img class="list__item-image" src="#" alt="">
    </a>
    <div class="list__item-description">
        <p class="list__item-description-title">FILM NAME</p>
        <p class="list__item-description-genres">genres | years</p>
    </div>
   </li>
   <li class="list__item">
       <a href="#">
        <img class="list__item-image" src="#" alt="">
    </a>
    <div class="list__item-description">
        <p class="list__item-description-title">FILM NAME</p>
        <p class="list__item-description-genres">genres | years</p>
    </div>
   </li>
   <li class="list__item">
    <a href="#">
        <img class="list__item-image" src="#" alt="">
    </a>
    <div class="list__item-description">
        <p class="list__item-description-title">FILM NAME</p>
        <p class="list__item-description-genres">genres | years</p>
    </div>
   </li>
   <li class="list__item">
    <a href="#">
        <img class="list__item-image" src="#" alt="">
    </a>
    <div class="list__item-description">
        <p class="list__item-description-title">FILM NAME</p>
        <p class="list__item-description-genres">genres | years</p>
    </div>
   </li>
   <li class="list__item">
    <a href="#">
        <img class="list__item-image" src="#" alt="">
    </a>
    <div class="list__item-description">
        <p class="list__item-description-title">FILM NAME</p>
        <p class="list__item-description-genres">genres | years</p>
    </div>
   </li>
   <li class="list__item">
    <a href="#">
        <img class="list__item-image" src="#" alt="">
    </a>
    <div class="list__item-description">
        <p class="list__item-description-title">FILM NAME</p>
        <p class="list__item-description-genres">genres | years</p>
    </div>
   </li>
   <li class="list__item">
    <a href="#">
        <img class="list__item-image" src="#" alt="">
    </a>
    <div class="list__item-description">
        <p class="list__item-description-title">FILM NAME</p>
        <p class="list__item-description-genres">genres | years</p>
    </div>
   </li>
   <li class="list__item">
    <a href="#">
        <img class="list__item-image" src="#" alt="">
    </a>
    <div class="list__item-description">
        <p class="list__item-description-title">FILM NAME</p>
        <p class="list__item-description-genres">genres | years</p>
    </div>
   </li>
   <li class="list__item">
    <a href="#">
        <img class="list__item-image" src="#" alt="">
    </a>
    <div class="list__item-description">
        <p class="list__item-description-title">FILM NAME</p>
        <p class="list__item-description-genres">genres | years</p>
    </div>
   </li>
   <li class="list__item">
    <a href="#">
        <img class="list__item-image" src="#" alt="">
    </a>
    <div class="list__item-description">
        <p class="list__item-description-title">FILM NAME</p>
        <p class="list__item-description-genres">genres | years</p>
    </div>
   </li>
   <li class="list__item">
    <a href="#">
        <img class="list__item-image" src="#" alt="">
    </a>
    <div class="list__item-description">
        <p class="list__item-description-title">FILM NAME</p>
        <p class="list__item-description-genres">genres | years</p>
    </div>
   </li>
    </ul>
</div>
</main>
