<footer class="footer" id="footer">
    <div class="footer__container container">
        <p class="copyright">&#169; 2022 | All Rights Reserved |&nbsp;</p>
        <div class="developers">
            <p class="developers__text">Developed with</p>
            <svg class="heart" width="20" height="20">
                <use href="./image/sprite.svg#heart"></use>
            </svg>
            <span>by</span><button type="button" class="developers__btn" data-modal-open>GoIT Students</button>
        </div>
    </div>
    </div>
</footer>