<footer class="footer" id="footer">
    <div class="container">
        <div class="footer__copyright">
            <p class="copyright">&#169; 2022| All Rights Reserved | Developed with</p>
            <svg class="heard">
                <use class="heard_icon"></use>
            </svg>
            <span class="team">by GoIT Students</span>
        </div>
        <!-- <a class="scroll-to-top" href="#header">
            <svg class="arrow-top" width="20" height="20">
                <use href="./images/sprite.svg#arrow-up"></use>
            </svg>
        </a> -->
    </div>
</footer>