<header class="header" id="header">
    <div class="library container">
        <div class="logo">
            <img class="logo-img" src="./image/header/film.png" alt="">
            <p class="logo-text">Filmoteka</p>
        </div>
        <nav class="nav">
            <ul class="nav__list list">
                <li class="nav__item">
                    <a href="./index.html" class="nav__link link">Home</a>
                </li>
                <li class="nav__item --active">
                    <a href="./library.html" class="nav__link link">my library</a>
                </li>
            </ul>
        </nav>
    </div>
</header>