<header class="header" id="header">
    <div class="home container">
        <div class="header__wrap">
            <div class="logo">
                <img class="logo-img" src="./image/header/film.png" alt="">
                <p class="logo-text">Filmoteka</p>
            </div>

            <nav class="nav">
                <ul class="nav__list list">
                    <li class="nav__item --active">
                        <a href="./index.html" class="nav__link link">Home</a>
                    </li>

                    <li class="nav__item">
                        <a href="./library.html" class="nav__link link">My library</a>
                    </li>
                </ul>
            </nav>
        </div>
        <form class="search-form">
            <label class="search-form__box">
                <input class="search-form__input" type="text" required name="search-form" id="search-form"
                    placeholder="Movie search">
            </label>
        </form>

        <div class="not-found__box">
            <p class="not-found is-hidden" id="p-not">Search result not successful. Enter the correct movie name and repeat.</p>
        </div>

    </div>
</header>