<main id="main">
    <div class="gallery container">
        <ul class="gallery__list list">

            <li class="gallery__item">
                <a href="#">
                    <img class="gallery__item-image" src="#" alt="">
                </a>
                <div class="gallery__item-description">
                    <p class="gallery__item-description-title">FILM NAME</p>
                    <p class="gallery__item-description-genres">genres | years</p>
                </div>
            </li>

            <li class="gallery__item">
                <a href="#">
                    <img class="gallery__item-image" src="#" alt="">
                </a>
                <div class="gallery__item-description">
                    <p class="gallery__item-description-title">FILM NAME</p>
                    <p class="gallery__item-description-genres">genres | years</p>
                </div>
            </li>

            <li class="gallery__item">
                <a href="#">
                    <img class="gallery__item-image" src="#" alt="">
                </a>
                <div class="gallery__item-description">
                    <p class="gallery__item-description-title">FILM NAME</p>
                    <p class="gallery__item-description-genres">genres | years</p>
                </div>
            </li>

            <li class="gallery__item">
                <a href="#">
                    <img class="gallery__item-image" src="#" alt="">
                </a>
                <div class="gallery__item-description">
                    <p class="gallery__item-description-title">FILM NAME</p>
                    <p class="gallery__item-description-genres">genres | years</p>
                </div>
            </li>

            <li class="gallery__item">
                <a href="#">
                    <img class="gallery__item-image" src="#" alt="">
                </a>
                <div class="gallery__item-description">
                    <p class="gallery__item-description-title">FILM NAME</p>
                    <p class="gallery__item-description-genres">genres | years</p>
                </div>
            </li>

            <li class="gallery__item">
                <a href="#">
                    <img class="gallery__item-image" src="#" alt="">
                </a>
                <div class="gallery__item-description">
                    <p class="gallery__item-description-title">FILM NAME</p>
                    <p class="gallery__item-description-genres">genres | years</p>
                </div>
            </li>

            <li class="gallery__item">
                <a href="#">
                    <img class="gallery__item-image" src="#" alt="">
                </a>
                <div class="gallery__item-description">
                    <p class="gallery__item-description-title">FILM NAME</p>
                    <p class="gallery__item-description-genres">genres | years</p>
                </div>
            </li>

            <li class="gallery__item">
                <a href="#">
                    <img class="gallery__item-image" src="#" alt="">
                </a>
                <div class="gallery__item-description">
                    <p class="gallery__item-description-title">FILM NAME</p>
                    <p class="gallery__item-description-genres">genres | years</p>
                </div>
            </li>

            <li class="gallery__item">
                <a href="#">
                    <img class="gallery__item-image" src="#" alt="">
                </a>
                <div class="gallery__item-description">
                    <p class="gallery__item-description-title">FILM NAME</p>
                    <p class="gallery__item-description-genres">genres | years</p>
                </div>
            </li>

            <li class="gallery__item">
                <a href="#">
                    <img class="gallery__item-image" src="#" alt="">
                </a>
                <div class="gallery__item-description">
                    <p class="gallery__item-description-title">FILM NAME</p>
                    <p class="gallery__item-description-genres">genres | years</p>
                </div>
            </li>

            <li class="gallery__item">
                <a href="#">
                    <img class="gallery__item-image" src="#" alt="">
                </a>
                <div class="gallery__item-description">
                    <p class="gallery__item-description-title">FILM NAME</p>
                    <p class="gallery__item-description-genres">genres | years</p>
                </div>
            </li>
            <li class="gallery__item">
                <a href="#">
                    <img class="gallery__item-image" src="#" alt="">
                </a>
                <div class="gallery__item-description">
                    <p class="gallery__item-description-title">FILM NAME</p>
                    <p class="gallery__item-description-genres">genres | years</p>
                </div>
            </li>
            <li class="gallery__item">
                <a href="#">
                    <img class="gallery__item-image" src="#" alt="">
                </a>
                <div class="gallery__item-description">
                    <p class="gallery__item-description-title">FILM NAME</p>
                    <p class="gallery__item-description-genres">genres | years</p>
                </div>
            </li>
            <li class="gallery__item">
                <a href="#">
                    <img class="gallery__item-image" src="#" alt="">
                </a>
                <div class="gallery__item-description">
                    <p class="gallery__item-description-title">FILM NAME</p>
                    <p class="gallery__item-description-genres">genres | years</p>
                </div>
            </li>
            <li class="gallery__item">
                <a href="#">
                    <img class="gallery__item-image" src="#" alt="">
                </a>
                <div class="gallery__item-description">
                    <p class="gallery__item-description-title">FILM NAME</p>
                    <p class="gallery__item-description-genres">genres | years</p>
                </div>
            </li>
            <li class="gallery__item">
                <a href="#">
                    <img class="gallery__item-image" src="#" alt="">
                </a>
                <div class="gallery__item-description">
                    <p class="gallery__item-description-title">FILM NAME</p>
                    <p class="gallery__item-description-genres">genres | years</p>
                </div>
            </li>
            <li class="gallery__item">
                <a href="#">
                    <img class="gallery__item-image" src="#" alt="">
                </a>
                <div class="gallery__item-description">
                    <p class="gallery__item-description-title">FILM NAME</p>
                    <p class="gallery__item-description-genres">genres | years</p>
                </div>
            </li>
            <li class="gallery__item">
                <a href="#">
                    <img class="gallery__item-image" src="#" alt="">
                </a>
                <div class="gallery__item-description">
                    <p class="gallery__item-description-title">FILM NAME</p>
                    <p class="gallery__item-description-genres">genres | years</p>
                </div>
            </li>
            <li class="gallery__item">
                <a href="#">
                    <img class="gallery__item-image" src="#" alt="">
                </a>
                <div class="gallery__item-description">
                    <p class="gallery__item-description-title">FILM NAME</p>
                    <p class="gallery__item-description-genres">genres | years</p>
                </div>
            </li>
            <li class="gallery__item">
                <a href="#">
                    <img class="gallery__item-image" src="#" alt="">
                </a>
                <div class="gallery__item-description">
                    <p class="gallery__item-description-title">FILM NAME</p>
                    <p class="gallery__item-description-genres">genres | years</p>
                </div>
            </li>

        </ul>
    </div>
</main>