<main id="main">
    <div class="gallery container">
        <ul class="gallery__list list">
            <li class="gallery__item"></li>
            <li class="gallery__item"></li>
            <li class="gallery__item"></li>
            <li class="gallery__item"></li>
            <li class="gallery__item"></li>
            <li class="gallery__item"></li>
            <li class="gallery__item"></li>
            <li class="gallery__item"></li>
            <li class="gallery__item"></li>
            <li class="gallery__item"></li>
            <li class="gallery__item"></li>
            <li class="gallery__item"></li>
            <li class="gallery__item"></li>
            <li class="gallery__item"></li>
            <li class="gallery__item"></li>
            <li class="gallery__item"></li>
            <li class="gallery__item"></li>
            <li class="gallery__item"></li>
            <li class="gallery__item"></li>
            <li class="gallery__item"></li>
        </ul>
    </div>
</main>