
      <div class="mobile-nav-button">
        <div class="mobile-nav-button__line"></div>
        <div class="mobile-nav-button__line"></div>
        <div class="mobile-nav-button__line"></div>
      </div>
  
      <nav class="mobile-menu">
        <ul>
          <li><a>some genre</a></li>
          <li><a>some genre</a></li>
          <li><a>some genre</a></li>
          <li><a>some genre</a></li>		
          <li><a>some genre</a></li>
          <li><a>some genre</a></li>
          <li><a>some genre</a></li>
          <li><a>some genre</a></li>								
          <li><a>some genre</a></li>
          <li><a>some genre</a></li>		
          <li><a>some genre</a></li>
          <li><a>some genre</a></li>
          <li><a>some genre</a></li>
          <li><a>some genre</a></li>								
          <li><a>some genre</a></li>
        </ul>
      </nav>
  