<div class="backdrop is-hidden">
  <div class="movie-modal__container">
    <button class="movie-modal__close-button" data-modal_close="">
      <svg class="modal-team__icon-close" width="40" height="40">
        <use href="./image/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="movie-modal__image-container">
      <!-- <img class="movie-modal__image"
            src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSgAJvP76zcDEiV08wP9lVPNlXHCBr0w7JVENRHhgvfzDzEhpPc"
            alt="blondy"
            width="250"
          />
        </div>
        <div class="info">
            <h3 class="movie-modal__title">BLONDE</h3>
            <table class="movie-modal__description description">
                <tbody>
                  <tr class="description__line">
                    <th class="description__head">Vote / Votes</th>
                    <td class="description__data">
                      <span class="description__vote">4.4</span> /<span class="description__votes"> 460</span>
                    </td>
                  </tr>
                  <tr class="description__line">
                    <th class="description__head">Popularity</th>
                    <td class="description__data">850.5</td>
                  </tr>
                  <tr class="description__line">
                    <th class="description__head">Original title</th>
                    <td class="description__data">Blonde</td>
                  </tr>
                  <tr class="description__line">
                    <th class="description__head">Genre</th>
                    <td class="description__data">Drama</td>
                  </tr>
                </tbody>
              </table>
              <p class="movie-modal__about">About</p>
              <p class="movie-modal__overview">From her volatile childhood as Norma Jeane,
                 through her rise to stardom and romantic entanglements, this reimagined fictional 
                 portrait of Hollywood legend Marilyn Monroe blurs the lines of fact and fiction to
                  explore the widening split between her public and private selves.</p> -->
    </div>
    <!-- <div class="movie-modal__button-container">
      <button class="movie-modal__button-orange" type="button" data-click="watched">
        <span class="movie-modal__button-text-orange">Add to watched</span>
      </button>
      <button class="movie-modal__button" type="button" data-click="queue">
        <span class="movie-modal__button-text">Add to queue</span>
      </button>
    </div> -->
  </div>
</div>