<div class="backdrop is-hidden" data-modal>
    <div class="modal-team">
        <button class="modal-team__btn" aria-label="Close" data-modal-close>
            <svg class="modal-team__icon-close" width="40" height="40">
                <use href="./image/sprite.svg#close"></use>
            </svg>
        </button>
        <h2 class="modal-team__title">Team Developers</h2>
        <ul class="modal-team__list list">
            <li class="modal-team__item">
                <picture>
                    <source srcset="./image/team/card_1.webp 1x" type="image/webp" media="(max-width:1280px)" />
                    <img class="modal-team__image" srcset="./image/team/card_1.jpg 200w" src="./image/team/card_1.jpg"
                        alt="photo Julia Golban"
                        sizes="(min-width:1200px) 450px, (min-width:768px) 250px, (max-width:767px) 200px, 100vw"
                        width="200" height="200" loading="lazy" />
                </picture>
                <div class="modal-team__wrap">
                    <p class="modal-team__member">Julia Golban</p>
                    <p class="modal-team__description" lang="en">Team Lead</p>
                    <a class="modal-team__link" href="https://github.com/JuliaGolban" target="_blank"
                        rel="noopener noreferrer" lang="en" aria-label="Github">
                        <svg class="modal-team__icon" width="20" height="20">
                            <use href="./image/sprite.svg#github"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="modal-team__item">
                <picture>
                    <source srcset="./image/team/card_2.webp 1x" type="image/webp" media="(max-width:1280px)" />
                    <img class="modal-team__image" srcset="./image/team/card_2.jpg 200w" src="./image/team/card_2.jpg"
                        alt="photo Iryna Kholodenko"
                        sizes="(min-width:1200px) 450px, (min-width:768px) 250px, (max-width:767px) 200px, 100vw"
                        width="200" height="200" loading="lazy" />
                </picture>
                <div class="modal-team__wrap">
                    <p class="modal-team__member">Iryna Kholodenko</p>
                    <p class="modal-team__description" lang="en">Scrum Master</p>
                    <a class="modal-team__link" href="https://github.com/IrynaKholod" target="_blank"
                        rel="noopener noreferrer" lang="en" aria-label="Github">
                        <svg class="modal-team__icon" width="20" height="20">
                            <use href="./image/sprite.svg#github"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="modal-team__item">
                <picture>
                    <source srcset="./image/team/card_3.webp 1x" type="image/webp" media="(max-width:1280px)" />
                    <img class="modal-team__image" srcset="./image/team/card_3.jpg 200w" src="./image/team/card_3.jpg"
                        alt="photo Rudenko Serhii"
                        sizes="(min-width:1200px) 450px, (min-width:768px) 250px, (max-width:767px) 200px, 100vw"
                        width="200" height="200" loading="lazy" />
                </picture>
                <div class="modal-team__wrap">
                    <p class="modal-team__member">Rudenko Serhii</p>
                    <p class="modal-team__description" lang="en">Tech Lead</p>
                    <a class="modal-team__link" href="https://github.com/rudenkoserhii" target="_blank"
                        rel="noopener noreferrer" lang="en" aria-label="Github">
                        <svg class="modal-team__icon" width="20" height="20">
                            <use href="./image/sprite.svg#github"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="modal-team__item">
                <picture>
                    <source srcset="./image/team/card_4.webp 1x" type="image/webp" media="(max-width:1280px)" />
                    <img class="modal-team__image" srcset="./image/team/card_4.jpg 200w" src="./image/team/card_4.jpg"
                        alt="photo Roman Vikulov"
                        sizes="(min-width:1200px) 450px, (min-width:768px) 250px, (max-width:767px) 200px, 100vw"
                        width="200" height="200" loading="lazy" />
                </picture>
                <div class="modal-team__wrap">
                    <p class="modal-team__member">Roman Vikulov</p>
                    <p class="modal-team__description" lang="en">Developer</p>
                    <a class="modal-team__link" href="https://github.com/RomanVikulov" target="_blank"
                        rel="noopener noreferrer" lang="en" aria-label="Github">
                        <svg class="modal-team__icon" width="20" height="20">
                            <use href="./image/sprite.svg#github"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="modal-team__item">
                <picture>
                    <source srcset="./image/team/card_5.webp 1x" type="image/webp" media="(max-width:1280px)" />
                    <img class="modal-team__image" srcset="./image/team/card_5.jpg 200w" src="./image/team/card_5.jpg"
                        alt="photo Roman Kashirin"
                        sizes="(min-width:1200px) 450px, (min-width:768px) 250px, (max-width:767px) 200px, 100vw"
                        width="200" height="200" loading="lazy" />
                </picture>
                <div class="modal-team__wrap">
                    <p class="modal-team__member">Roman Kashirin</p>
                    <p class="modal-team__description" lang="en">Developer</p>
                    <a class="modal-team__link" href="https://github.com/Royale16" target="_blank"
                        rel="noopener noreferrer" lang="en" aria-label="Github">
                        <svg class="modal-team__icon" width="20" height="20">
                            <use href="./image/sprite.svg#github"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="modal-team__item">
                <picture>
                    <source srcset="./image/team/card_6.webp 1x" type="image/webp" media="(max-width:1280px)" />
                    <img class="modal-team__image" srcset="./image/team/card_6.jpg 200w" src="./image/team/card_6.jpg"
                        alt="photo Oleksandr Nehoda"
                        sizes="(min-width:1200px) 450px, (min-width:768px) 250px, (max-width:767px) 200px, 100vw"
                        width="200" height="200" loading="lazy" />
                </picture>
                <div class="modal-team__wrap">
                    <p class="modal-team__member">Oleksandr Nehoda</p>
                    <p class="modal-team__description" lang="en">Developer</p>
                    <a class="modal-team__link" href="https://github.com/Oleksandr-Nehoda" target="_blank"
                        rel="noopener noreferrer" lang="en" aria-label="Github">
                        <svg class="modal-team__icon" width="20" height="20">
                            <use href="./image/sprite.svg#github"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="modal-team__item">
                <picture>
                    <source srcset="./image/team/card_7.webp 1x" type="image/webp" media="(max-width:1280px)" />
                    <img class="modal-team__image" srcset="./image/team/card_7.jpg 200w" src="./image/team/card_7.jpg"
                        alt="photo Olena But"
                        sizes="(min-width:1200px) 450px, (min-width:768px) 250px, (max-width:767px) 200px, 100vw"
                        width="200" height="200" loading="lazy" />
                </picture>
                <div class="modal-team__wrap">
                    <p class="modal-team__member">Olena But</p>
                    <p class="modal-team__description" lang="en">Developer</p>
                    <a class="modal-team__link" href="https://github.com/OlenaBut" target="_blank"
                        rel="noopener noreferrer" lang="en" aria-label="Github">
                        <svg class="modal-team__icon" width="20" height="20">
                            <use href="./image/sprite.svg#github"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="modal-team__item">
                <picture>
                    <source srcset="./image/team/card_8.webp 1x" type="image/webp" media="(max-width:1280px)" />
                    <img class="modal-team__image" srcset="./image/team/card_8.jpg 200w" src="./image/team/card_8.jpg"
                        alt="photo Semen Slipchenko"
                        sizes="(min-width:1200px) 450px, (min-width:768px) 250px, (max-width:767px) 200px, 100vw"
                        width="200" height="200" loading="lazy" />
                </picture>
                <div class="modal-team__wrap">
                    <p class="modal-team__member">Semen Slipchenko</p>
                    <p class="modal-team__description" lang="en">Developer</p>
                    <a class="modal-team__link" href="https://github.com/SemSlipchenko" target="_blank"
                        rel="noopener noreferrer" lang="en" aria-label="Github">
                        <svg class="modal-team__icon" width="20" height="20">
                            <use href="./image/sprite.svg#github"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="modal-team__item">
                <picture>
                    <source srcset="./image/team/card_9.webp 1x" type="image/webp" media="(max-width:1280px)" />
                    <img class="modal-team__image" srcset="./image/team/card_9.jpg 200w" src="./image/team/card_9.jpg"
                        alt="photo Dima Levchenko"
                        sizes="(min-width:1200px) 450px, (min-width:768px) 250px, (max-width:767px) 200px, 100vw"
                        width="200" height="200" loading="lazy" />
                </picture>
                <div class="modal-team__wrap">
                    <p class="modal-team__member">Dima Levchenko</p>
                    <p class="modal-team__description" lang="en">Developer</p>
                    <a class="modal-team__link" href="https://github.com/Dima1409" target="_blank"
                        rel="noopener noreferrer" lang="en" aria-label="Github">
                        <svg class="modal-team__icon" width="20" height="20">
                            <use href="./image/sprite.svg#github"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="modal-team__item">
                <picture>
                    <source srcset="./image/team/card_10.webp 1x" type="image/webp" media="(max-width:1280px)" />
                    <img class="modal-team__image" srcset="./image/team/card_10.jpg 200w" src="./image/team/card_10.jpg"
                        alt="photo Heorgii Rushchak"
                        sizes="(min-width:1200px) 450px, (min-width:768px) 250px, (max-width:767px) 200px, 100vw"
                        width="200" height="200" loading="lazy" />
                </picture>
                <div class="modal-team__wrap">
                    <p class="modal-team__member">Heorgii Rushchak</p>
                    <p class="modal-team__description" lang="en">Developer</p>
                    <a class="modal-team__link" href="https://github.com/Heorgii" target="_blank"
                        rel="noopener noreferrer" lang="en" aria-label="Github">
                        <svg class="modal-team__icon" width="20" height="20">
                            <use href="./image/sprite.svg#github"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="modal-team__item">
                <picture>
                    <source srcset="./image/team/card_10.webp 1x" type="image/webp" media="(max-width:1280px)" />
                    <img class="modal-team__image" srcset="./image/team/card_10.jpg 200w" src="./image/team/card_10.jpg"
                        alt="photo Oleh Hritsenko"
                        sizes="(min-width:1200px) 450px, (min-width:768px) 250px, (max-width:767px) 200px, 100vw"
                        width="200" height="200" loading="lazy" />
                </picture>
                <div class="modal-team__wrap">
                    <p class="modal-team__member">Oleh Hritsenko</p>
                    <p class="modal-team__description" lang="en">Developer</p>
                    <a class="modal-team__link" href="https://github.com/OlehHritsenko" target="_blank"
                        rel="noopener noreferrer" lang="en" aria-label="Github">
                        <svg class="modal-team__icon" width="20" height="20">
                            <use href="./image/sprite.svg#github"></use>
                        </svg>
                    </a>
                </div>
            </li>
    </div>