<div class="backdrop-login backdrop is-hidden" data-modal-user>
    <div class="modal-login">
        <button class="modal-login-close" data-modal-user-close>
            <svg class="close-login-icon" width="20" height="20">
                <use href="./image/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <p class="modal-login-title modal-title-js">Fill in the form</p>
        <form class="form-user form-js" autocomplete="on">
            <label class="form-group" aria-label="email">
                <span class="form-label">E-mail:</span>
                <span class="form__wrapper">
                    <input class="form-input" type="email" name="mail" id="txtEmail" placeholder="exampel@gmail.com"
                        required /><svg class="form-icon" width="18" height="18">
                        <use href="./image/sprite.svg#mail"></use>
                    </svg></span>
            </label>
            <label class="form-group" aria-label="password">
                <span class="form-label">Password:</span>
                <span class="form__wrapper">
                    <input class="form-input" type="password" name="password" id="txtPassword" minlength="5"
                        maxlength="12" placeholder="******" required />
                    <svg class="form-icon" width="18" height="18">
                        <use href="./image/sprite.svg#key"></use>
                    </svg>
                </span>
            </label>
        </form>
        <button class="btn-submit --active-btn" type="submit" id="btnSignup">Sign up</button>
        <button class="btn-submit" type="submit" id="btnLogin">Log in</button>

        <div id="divLoginError" class="group">
            <div id="lblLoginErrorMessage" class="errorlabel"></div>
        </div>

        <div id="app">
            <div class="header is-hidden" id="success-enter">
                <h1 class="succes-title">Welcome to Your account</h1>
            </div>
            <form class="success-message-form">
                <div class="group">
                    <div id="lblAuthState" class="authlabel is-hidden"></div>
                </div>
                <button id="btnLogout" type="button" class="btn__logout is-hidden">Log out</button>
            </form>
        </div>
    </div>
</div>