<button class="popup-button" type="button" data-modal-open>
    <span class="sign_up"><svg class="lock-close" width="18" height="18">
            <use href="./image/sprite.svg#lock-close"></use>
        </svg>SIGN UP</span>
</button>
<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="modal-close" data-modal-close>
            <svg class="close-icon" width="18" height="18">
                <use href="./image/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <b class="modal-title">Fill in the form</b>

        <form class="form-user" autocomplete="off">
            <label class="form-group" for="mail">
                <span class="form-label">Mail</span>
                <span class="input-container">
                    <input class="input-form" type="email" name="mail" id="mail">
                </span>
            </label>
            <label class="form-group" for="password">
                <span class="form-label">
                    <span class="form-label">Password</span>
                    <span class="input-container">
                        <input class="input-form" type="password" name="password" id="password" minlength="5"
                            maxlength="12" />
                    </span>
            </label>
            <button class="btn-submit" type="submit">Sign up</button>
        </form>
    </div>
</div>