<div class="backdrop-login backdrop is-hidden" data-modal-user>
    <div class="modal-login">
        <button class="modal-login-close" data-modal-user-close>
            <svg class="close-login-icon" width="20" height="20">
                <use href="./image/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <b class="modal-login-title modal-title-js">Fill in the form</b>

        <form class="form-user form-js" autocomplete="off">
            <label class="form-group" for="mail">
                <span class="form-label">E-mail:</span>
                <span class="input-container">
                    <input class="input-form" type="email" required name="email" id="txtEmail">
                </span>
            </label>
            <label class="form-group" for="password">
                <span class="form-label">
                    <span class="form-label">Password:</span>
                    <span class="input-container">
                        <input class="input-form" type="password" required name="password" id="txtPassword"
                            minlength="5" maxlength="12" />
                    </span>
            </label>

            <button class="btn-submit" type="submit" id="btnSignup">Sign up</button>
            <button class="btn-submit" type="submit" id="btnLogin">Log in</button>

            <div id="divLoginError" class="group">
                <div id="lblLoginErrorMessage" class="errorlabel"></div>
            </div>

        </form>
        <div id="app">
            <div class="header is-hidden" id="success-enter">
                <h1 class="succes-title">Welcome to Your account</h1>
            </div>
            <form class="success-message-form">
                <div class="group">
                    <div id="lblAuthState" class="authlabel is-hidden"></div>
                </div>
                <button id="btnLogout" type="button" class="btn__logout is-hidden">Log out</button>
            </form>
        </div>
    </div>
</div>