.button-wrapper {
    display: flex;
    justify-content: center;

    & .btn {
        width: 152px;
        height: 44px;
        border-radius: 5px;
        background-color: transparent;
        color: var(--cl-txt-white);
        text-transform: uppercase;
        border: 1px solid var(--cl-txt-white);

        &:not(:last-child) {
            margin-right: 16px;

            @include mq(tablet-only) {
                margin-right: 32px;
            }

            @include mq(mobile-only) {
                margin-right: 20px;
            }
        }

        &.--active-btn {
            background-color: var(--cl-txt-accent);
            border: 1px solid var(--cl-txt-accent);
        }
    }

    align-self: flex-end;
}