//   @include mq(mobile-only) {

//       .pagination__elem--dots,
//       .pagination__elem--cutPage {
//           display: none;
//       }
//   }

.pagination.list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    max-width: 374px;
    height: 40px;
    margin: 40px auto;
}


.pagination__elem {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 40px;

    &.pagination__elem--dots {
        cursor: default;
    }


    &.pagination__currentPage {
        cursor: default;

        min-width: 40px;
        border-radius: 5px;

        background-color: var(--bgc-accent);
        color: var(--cl-txt-white);
    }

    &.pagination__left {
        min-width: 40px;
        border-radius: 5px;

        background-color: var(--bgc-second);

        &:hover {
            transform: scale(1.2);
        }
    }

    &.pagination__right {
        min-width: 40px;
        border-radius: 5px;

        background-color: var(--bgc-second);

        &:hover {
            transform: scale(1.2);
        }
    }

    &.pagination__elem--page:hover {
        transform: scale(1.1);
        font-weight: bold;
    }
}

.icon__arrow {
    fill: #000000;
}

.icon__arrow--left {
    transform: scaleX(-1);
}