.fix-down {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;

    & .container {
        padding-right: 0;
        padding-bottom: 15px;
    }
}

.scroll-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    width: 30px;
    height: 30px;

    @include mq(tablet) {
        width: 40px;
        height: 40px;
    }

    background-color: transparent;
    cursor: pointer;

    transition: transform var(--anim),
    background-color var(--anim);

    &:hover,
    &:focus {
        transform: scale(1.05);
        background-color: transparent;
    }
}

.arrow-top {
    fill: var(--bgc-accent);
    opacity: 50%;

    width: 30px;
    height: 30px;

    @include mq(mobile) {
        width: 40px;
        height: 40px;
    }
}

.scroll-to-top.is-hidden {
    display: none;
}