.footer {
    background-color: var(--bgc-second);
    width: 100vw;

    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
        padding: 28px 20px;

        color: var(--cl-txt-second);
    }

    &.fixed {
        position: absolute;
        bottom: 0;
    }
}

.copyright {
    margin-bottom: 10px;

    @include mq(tablet) {
        margin-bottom: 0;
    }
}

.developers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;

    &__btn {
        text-decoration: underline;
        border: none;
        color: inherit;
        background-color: transparent;
    }
}

.heart {
    margin: 0 10px;
    animation: heartbeat 1.5s ease-in-out infinite both;
}