.gallery {
    &.container {
        margin-left: auto;
        margin-right: auto;

        padding-top: 20px;
        padding-bottom: 20px;

        @include mq(mobile) {
            max-width: 320px;
        }

        @include mq(tablet) {
            padding-top: 60px;
            padding-bottom: 60px;
            max-width: 768px;
        }

        @include mq(desktop) {
            max-width: 1280px;
        }
    }

    &__list {
        display: grid;
        margin-left: auto;
        margin-right: auto;
        grid-auto-rows: 440px;
        grid-gap: 20px;

        @include mq(tablet) {
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
            grid-auto-rows: 495px;
            grid-gap: 32px;
        }

        @include mq(desktop) {
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
            grid-auto-rows: 634px;
            grid-gap: 32px 16px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        border-radius: 5px 5px 0 0;

        &-image {
            background-color: darkgray;
            border-radius: 5px;
            height: 400px;
            width: 100%;

            @include mq(tablet) {
                height: 455px;
            }

            @include mq(desktop) {
                height: 574px;
            }

        }

        &-description {
            font-weight: 500;
            font-size: 12px;
            line-height: 1.33;

            @include mq(desktop) {
                font-size: 20px;
                line-height: 1.2;
            }

            &-title {
                text-transform: uppercase;
                color: var(--cl-txt-main);
            }

            &-genres {
                text-transform: capitalize;
                color: var(--cl-txt-accent);
            }
        }
    }
}