.gallery {
    &.container {
        margin-left: auto;
        margin-right: auto;

        padding-top: 20px;
        padding-bottom: 20px;

        @include mq(mobile) {
            max-width: 320px;
        }

        @include mq(tablet) {
            padding-top: 60px;
            padding-bottom: 60px;
            max-width: 768px;
        }

        @include mq(desktop) {
            max-width: 1280px;
        }
    }

    &__list {
        display: grid;
        margin-left: auto;
        margin-right: auto;
        grid-auto-rows: 440px;
        grid-gap: 20px;

        @include mq(tablet) {
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
            grid-auto-rows: auto;
            grid-gap: 32px;
        }

        @include mq(desktop) {
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
            grid-gap: 32px 16px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        border-radius: 5px;
        transition: all 250ms;
        cursor: pointer;
        &:hover {
            box-shadow:0 4px 10px #000;
            scale: 1.01;
        }

        &-image {
            background-color: darkgray;
            border-radius: 5px;
            width: 280px;
            height: 398px;

            @include mq(tablet) {
                width: 336px;
                height: 455px;
            }

            @include mq(desktop) {
                width: 395px;
                height: 574px;
            }

        }

        &-description {
            font-weight: 500;
            font-size: 12px;
            line-height: 1.33;
            width: 280px;
            margin-bottom: 4px;
            margin-left: 4px;

            @include mq(tablet) {
                width: 336px;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                margin-top: 8px;
            }

            @include mq(desktop) {
                font-size: 20px;
                line-height: 1.2;
                width: 395px;
                margin-top: 12px;
            }

            &-title {
                text-transform: uppercase;
                color: var(--cl-txt-main);
            }

            &-genres {
                text-transform: capitalize;
                color: var(--cl-txt-accent);
            }
        }
    }
}