

.logo {
    display: flex;
    align-items: center;
    margin-left: 32px;

    @include mq(mobile-only) {
        position: absolute;
        margin-top: 40px;
        margin-left: 20px;
    }
}

.nav {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 40px;
}

.list {
    display: flex;
    list-style: none;
}

.nav__list {
    margin-right: 32px;

    @include mq(mobile-only) {
        margin-right: 20px;
    }
}

.link {
    text-decoration: none;
}

.nav__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    border-bottom: 2px var(--cl-txt-red);
    color: var(--cl-txt-white);
}