.header {
    background-image: url(../image/header/header-pc.png);
    background-size: cover;
    height: 216px;

    @include mq(tablet-only) {
        & {
            background-image: url(../image/header/header-table.png);
            background-size: cover;
            height: 216px;
        }
    }

    @include mq(mobile-only) {
        & {
            background-image: url(../image/header/header-mob.png);
            background-size: cover;
            height: 230px;
        }
    }
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 32px;

    @include mq(mobile-only) {
        position: absolute;
    margin-top: 40px;
        margin-left: 20px;
    }
}

.logo-img {
    width: 24px;
    height: 24px;
    margin-right: 10px;

    @include mq(tablet-only) {
        margin-right: 8px;
    }
}

.logo-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;

    color: var(--cl-txt-white);

    @include mq(mobile-only) {
        display: none;
    }
}

.nav {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 40px;
}

.list {
    display: flex;
    list-style: none;
}

.nav__list {
    margin-right: 32px;

    @include mq(mobile-only) {
        margin-right: 20px;
    }
}

.nav__item:not(:last-child) {
    margin-right: 40px;
    border-bottom: 2px solid var(--cl-txt-red);
}

.link {
    text-decoration: none;
}

.nav__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    border-bottom: 2px var(--cl-txt-red);
    color: var(--cl-txt-white);
}