
.genres-nav-button {
    width:25px;
    height: 25px;
    margin: 14px;
    margin-right: 0;
    right:0;
    top:0;
    z-index: 16;
    cursor:pointer;
    &:hover .genres-nav-button__line {
      background-color: var(--bgc-accent);
    }
    .genres-nav-button__line {
        width:100%;
        height:5px;
        background: var(--cl-txt-main);
        position:relative;
        transition: var(--slow-anim);
        &:nth-of-type(2) {
            margin:0.2rem 0;
        }

    }
    .genres-nav-button__line--1 {
        transform: rotate(45deg);
        top: 10px;
    }
    .genres-nav-button__line--2 {
        display: none;
    }
    .genres-nav-button__line--3 {
        transform: rotate(135deg);
        top: 5px;        
    }
}


.mobile-menu {
    display:block;
    width:100%;
    right:-100%;
    height: auto;
    background: var(--bgc-main);
    position:absolute;
    z-index: 15;
    transition: var(--slow-anim);
    opacity:0;
    overflow-x: hidden;
    
    
    ul {
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
        li {
        list-style: none;
        margin: 2px;
        margin-left: 0;
            a {
                cursor: pointer;
                width:100%;
                margin:0 auto;
                padding: 2px 6px;
                display: block;
                text-align: end;
                text-decoration:none;
                color: var(--cl-txt-main);
                font-size: 24px;
                font-weight: 500;
                overflow:hidden;
                position:relative;
                border-radius: 6px;
                &:after {
                    content:'';
                    background: var(--bgc-accent);
                    width:100%;
                    height:100%;
                    position:absolute;
                    right:-100%;
                    top:0;
                    z-index:-1;
                    transition: var(--slow-anim);
                    border-radius: 6px;
                }
                &:hover {
                   &:after,
                   &:focus {
                    right:0;
                   }
                   color:var(--bgc-main);
                }
            }
        }
    }
}
.mobile-menu-link.active{
    color:var(--bgc-main);
    &:after{
        right:0;
        border: 1px solid #000;
    }
}

.mobile-menu--open {
    right:0;
    opacity:1;
}